.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35rem;
  position: relative;
  margin: -10px;
}

.slide {
  position: absolute;
  width: 100%;
  display: flex;
  height: 35rem;
}

.slide-bg {
  position: relative;
  display: flex;
  flex: 1 1 auto;
}

.slide-bg:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: "";

  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 11%,
    rgba(255, 255, 255, 0) 100%
  );
}

.slide-bg-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slide-pane {
  width: 45%;
  position: absolute;
  top: 5rem;
  left: 5rem;
}

.name {
  font-size: 2.8rem;
}
.meta {
  font-size: 1.4rem;
  color: #999;
}

.info {
  display: flex;


}

.info > span:not(:last-child):after {
  content: '|';
  margin-right: 9px;
  margin-left: 9px;


}
.rating {
  display: flex;
  align-items: center;
}

.star {
  color:#d4af37;
}

.desc {
  font-size: 1.2rem;
  line-height: 1.6;
}


