<ng-container *ngIf="itemDatas">
  <a class="movie-item">
    <div class="movie-item-rating">
      <i class="fa-solid fa-star star"></i>
      <span>{{ itemDatas.vote_average }}</span
      >/10
    </div>

    <div class="movie-item-image" *ngIf="itemDatas.backdrop_path ">
      <img
      [src]="'https://image.tmdb.org/t/p/w1280/'+itemDatas.backdrop_path"
        alt={{itemDatas.name}}
      />
    </div>
    <div class="movie-item-image" *ngIf="itemDatas.backdrop_path === null">
      <img
      src="assets/images/tvd.jpg"
        alt={{itemDatas.name}}
      />
    </div>

    <div class="movie-item-title">{{itemDatas.name}}</div>
  </a>
</ng-container>
