<ng-container *ngIf="series">
  <app-sliders [item]="[series]" [isBanner]="true"></app-sliders>
  <p-tabView>
    <p-tabPanel header="Overviews">
      <div class="grid">
        <div class="col-12 md:col-3 lg:col-3">
          <img
            class="poster"
            [src]="'https://image.tmdb.org/t/p/w300/' + series.poster_path"
            [alt]="series.title"
          />
        </div>
        <div class="col-12 md:col-9 lg:col-9">
          <h2>Overviews</h2>
          <p class="overviews">{{ series.overview }}</p>

          <div class="stat">
            <div class="label">Total Season:</div>
            <div class="value">
              {{ series.number_of_seasons}}
            </div>

          </div>

          <div class="stat">
            <div class="label">Total Episode:</div>
            <div class="value">
              {{ series.number_of_episodes}}
            </div>

          </div>
          <div class="stat">
            <div class="label">Language:</div>
            <div class="value">
              {{ series.original_language | uppercase }}
            </div>
          </div>
          <div class="stat">
            <div class="label">Runtime:</div>
            <div class="value">
              {{ series.episode_run_time }}
              min
            </div>
          </div>
          <div class="stat">
            <div class="label">Status:</div>
            <div class="value">
              {{ series.status }}
            </div>
          </div>
          <div class="stat">
            <div class="label">Genres:</div>
            <div class="value">
              <span *ngFor="let genre of series.genres">
                {{ genre.name }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Videos">
      <div class="grid">
        <ng-container *ngFor="let serieVideos of seriesVideos">
          <div class="col:12 md:col-4 lg:md-4">
            <app-videos [key]="serieVideos.key" [site]="serieVideos.site">
            </app-videos>
          </div>
        </ng-container>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Photos">
      <div class="grid">
        <ng-container *ngFor="let serieImages of seriesImages?.backdrops">
          <div class="col:12 md:col-4 lg:md-4">
            <p-image
              [src]="
                'https://image.tmdb.org/t/p/w1280/' + serieImages.file_path
              "
              alt="Image"
              width="100%"
              [preview]="true"
            ></p-image>
          </div>
        </ng-container>
      </div>
    </p-tabPanel>
  </p-tabView>

  <p-carousel
    *ngIf="seriesCredits"
    [value]="seriesCredits.cast"
    [numVisible]="5"
    [numScroll]="5"
  >
    <ng-template let-actor pTemplate="item">
      <div class="actor">
        <img
          [src]="'https://image.tmdb.org/t/p/w300/' + actor.profile_path"
          alt=""
        />
        <span>{{ actor.name }}</span>
      </div>
    </ng-template>
  </p-carousel>
</ng-container>
